@import url('https://fonts.googleapis.com/css2?family=Dongle&family=Inter:ital,opsz,wght@0,14..32,100..900;1,14..32,100..900&family=Oi&family=Poiret+One&family=Prompt:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');

* {
    text-decoration: none;
    box-sizing:border-box;
}

:root {
    --cor1: #b30710;
    --cor2: rgb(221, 236, 253);
    --cor3: #FFFFFF;
    --cor4: #f73a43;
    --cor5: #F8DA14;
    --cor6: #950037;

    /* DISCOGRAFIA */

    --album1: rgb(22, 21, 21);
    --album1-sec: #4a4848;
    --album2: #5e3504;
    --album2-sec: #ED9120;
    --album3: #151618;
    --album3-sec: #838788;
    --album4: #170602;
    --album4-sec: #B26B49;
    --album5: #DE8D80;
    --album5-sec: #FBB1A3;
    --album6: #5A679F;
    --album6-sec: #95A6CB;
    --album7: #070707;
    --album7-sec: #5A5A5A;
    --album8: #9E3A30;
    --album8-sec: #D04029;
    --album9: #465A39;
    --album9-sec: #748760;
    --album10: #282828;
    --album10-sec: #969696;
    --album11: #46616E;
    --album11-sec: #6388A5;
    --album12: #000000;
    --album12-sec: #2D353A;
    --album13: #720401;
    --album13-sec: #B30204;
    --album14: #1D1D1B;
    --album14-sec: #82807F;
}

body {
    margin: 0;
    background-color: #EBEBEB;
    font-family: 'inter', sans-serif;
}


/* NAVBAR */


header {
    position: sticky;
    top: 0;
    width: 100%;
    z-index: 1000;
}

nav {
    display: flex;

    font-family: 'dongle';
    font-size: 1.5rem;
    justify-content: space-between;
    align-items: center;

    background-color: var(--cor1);
    color: var(--cor2);
    box-shadow: 0 6px 20px rgba(0, 0, 0, 0.1); 
    padding: 30px;
    transition: background-color 0.3s ease;
    transition: padding 0.3s ease;
}

.scrolled {
    background-color: black;
    padding: 1%;
}

#logo {
    font-family: 'oi';
    font-size: 33px;
    margin: auto auto auto 7%;
}

.opcoes {
    display: flex;
    flex-direction: row;
    list-style-type: none;
    margin: auto 10px auto 0;
}

.opcoes li { margin: 0 20px; transition: 0.3s ease; }

.opcoes li:hover { transform: translateY(-3px); }

.opcoes span {
    color: var(--cor5);
}

li a {
    color: var(--cor2);
    text-decoration: none;
    opacity: 1;
    transition: opacity 0.3s ease-in-out;
}

li a:hover { opacity: 0.5; }

i { margin: auto 0; }

#menu { display: none; }

::-webkit-scrollbar {
    width: 20px;
}

::-webkit-scrollbar-track {
    padding: 2px;
    background-color: transparent;
}

::-webkit-scrollbar-thumb {
    background-color: var(--cor1);
    border-radius: 0px;
    box-shadow: 0 0 8px rgba(0, 0, 0, 0.1);
    transition: 1s;
}

::-webkit-scrollbar-thumb:hover {
    background-color: var(--cor4);
}

::selection {
  background-color: #f4c542;
  color: #000; 
}

img::selection{
  background-color: #000000;
  opacity: 0.1;
}


/* HOME */


.introducao {
    display: flex;
    flex-direction: column;
    gap: 10px;
    padding: 2%;
    background-color: var(--cor2);
}

.imgs {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 20px 5%;
}

#titulo-djavan {
    width: 60%;
    max-width: 300px;
    height: auto;
}

.box {
    background-color: var(--cor3);
    border-radius: 15px;
    box-shadow: 0 6px 20px rgba(0, 0, 0, 0.1);
}

.introducao img {
    width: 400px;
    height: auto;
}

.texto {
    text-align: center;
    padding: 20px 20%;
}

.pai {
    display: flex;
    flex-direction: column;
    background-color: var(--cor4);
    width: auto;
    padding: 10px 0;
    border-radius: 13px;
}

.pai > p {
    font-family: 'Dongle', sans-serif;
    text-align: center;
    color: var(--cor5);
    font-size: 1.5rem;
    margin: 0;
}

.pai h1 {
    font-family: 'Prompt', sans-serif;
    text-align: center;
    color: var(--cor3);
    font-size: 2rem;
    margin: 0;
}  

.filho {
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 20px;
    margin: 10px;
}

.filho img {
    width: 30%;
    height: auto;
    border-radius: 10px;
    transition: transform 0.5s ease;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.3);
}

.filho img:hover {
    transform: scale(1.01);
}

.filho > p {
    display: flex;
    font-family: 'Inter', sans-serif;
    width: 50%;
    padding: 30px 10px;
    border-radius: 5px;
    text-align: center;
    background-color: var(--cor3);
}

p > .q1 {
    color: var(--cor5);
    margin: 0 5px auto;
    font-size: 1.5rem;
}

p > .q2 {
    color: var(--cor5);
    margin: auto 0 0 10px;
    font-size: 1.5rem;
}

.filho .passar {
    display: flex;
    font-family: 'inter', sans-serif;
    justify-content: center;
    gap: 0;
    color: var(--cor5);
    margin: 0 30px 0 0;
    width: 10%;
}

.filho .passar:hover {
    cursor: pointer;
    color: var(--cor3);
}

.passar i {
    margin: auto 0;
    font-size: 40px;
    transition: transform 0.3s ease;
}

.passar:hover i {
    transform: translateX(5px);
}

.passar span {
    display: none;
    transform: rotate(-90deg);
    font-size: 20px;
    margin: 0;
}

.passar span {
    display: inline;
    margin: 0;
}

.oceano {
    flex-direction: row-reverse;
}

.oceano .filho {
    text-align: right;
}

.oceano .passar span {
    transform: rotate(90deg);
}

.oceano .passar:hover i {
    transform: translateX(-5px);
}

.aprofundando {
    display: block;
    position: relative;
}

.aprofundando h2 {
    font-family: 'poiret one';
    font-size: 2.5rem;
    color: var(--cor3);
    background-color: black;
    text-align: center;
    margin: 0;
    padding: 8% 5% 5%;
}

.aprofundando .djavan-img {
    background-image: url('../midias/djavan-tocando.jpg');
    background-size: cover;
    color: var(--cor2);
    height: 100%;
}


.slider {
    position: fixed;
    width: 100%;
    height: 100%;
    overflow: hidden;
    z-index: -1;
    bottom: 0;
}

.slides {
    display: flex;
    width: 100%;
    animation: slide 15s infinite ease-in-out;
}

.slides img {
    width: 100%;
    height: auto;
    flex-shrink: 0;
    object-fit: cover;
}

@keyframes slide {
    0% { transform: translateX(0); }
    25% { transform: translateX(0); }
    30% { transform: translateX(-100%); }
    55% { transform: translateX(-100%); }
    60% { transform: translateX(-200%); }
    85% { transform: translateX(-200%); }
    90% { transform: translateX(-300%); }
    100% { transform: translateX(-300%); }
}

.space p {
    margin: 0;
    padding: 10px;
    text-align: center;
    color: var(--cor1);
    background-color: #f0e392;
    font-family: 'Poiret One', cursive;
    font-size: 1.5rem;
    font-weight: 900;
}

.container-fundo {
    display: block;
    margin-top: 100px;
    width: 100%;
    height: 90vh;
    background-color: #EBEBEB;
}

.aprofundando .biografia {
    display: flex;
    position: absolute;
    align-items: center;
    background-color: #f0e392;
    width: 90%;
    left: 50%;
    transform: translateX(-50%);
    box-shadow: 0 4px 10px rgba(0, 0, 0, 0.3);
}

.biografia img {
    width: 40%;
    height: auto;
}

.info-bio {
    display: flex;
    flex-direction: column;
    justify-content: center;
    width: 55%;
    height: auto;
    padding: 0 20px;
}

.info-bio h3 {
    color: var(--cor4);
    font-family: 'Poiret One', cursive;
    font-size: 2rem;
    margin: 0;
}

.info-bio p {
    font-family: 'Prompt', sans-serif;
    font-size: 1.2rem;
    margin: 0;
}

.content-bio {
    display: flex;
    margin: 0;
    justify-content: space-between;
    width: 100%;
}

.bio-bnt {
    position: relative;
    text-align: center;
    writing-mode: sideways-lr;
    font-size: 2rem;
    font-family: 'Dongle', sans-serif;
    letter-spacing: 3px;
    color: black;
    background-color: #faf0af;
    transition: background-color 0.5s ease, color 0.3s ease;
    overflow: hidden;
    z-index: 0;
}


.bio-bnt::before {
    content: '';
    position: absolute;
    bottom: 0;
    left: 0;
    width: 100%;
    height: 0;
    background-color: var(--cor4);
    z-index: -1;
    transition: height 1.5s cubic-bezier(0.25, 1, 0.5, 1);
}

.bio-bnt:hover::before {
    height: 100%;
    transition: height 1.5s cubic-bezier(0.25, 1, 0.5, 1);
}

.bio-bnt:hover p {
    color: white;
    z-index: 1;
}

.shows {
    display: flex;
    justify-content: center;
    background-color: #EBEBEB;
}

.shows img {
    position: relative;
    background-size: cover;
    width: 80%;
    border-radius: 10px;
    margin: 20px 0;
    box-shadow: 0 4px 10px rgba(0, 0, 0, 0.2);
}

.shows a {
    position: absolute;
    right: 0;

    color: black;
    background-color: #f0e392;
    overflow: hidden;

    font-family: 'dongle', cursive;
    font-size: 2rem;

    z-index: 1;
    padding: 20px 25% 20px 30px;
    transition: 0.3s ease;
}

.shows a:hover { 
    color: white; 
    transform: translateY(-3px);
    box-shadow: -2px 4px 10px rgba(0, 0, 0, 0.3);
}

.shows a::before {
    content: '';
    position: absolute;
    top: 0;
    left: 0;
    width: 0;
    height: 100%;
    background-color: var(--cor4);
    transition: 1.5s cubic-bezier(0.25, 1, 0.5, 1);
    z-index: -1;
}

.shows a:hover::before {
    width: 100%;
    transition: 1.5s cubic-bezier(0.25, 1, 0.5, 1);
}


/* DISCOGRAFIA */


/* ===== Seção do Álbum ===== */

.album {
    display: grid;
    grid-template-columns: 300px 1fr;
    gap: 2rem;
    padding: 40px;
    background-color: var(--album1);
    border-radius: 10px;
    max-width: 1000px;
    margin: 40px auto;
    box-shadow: 0 0 20px 15px rgba(0,0,0,0.1);
}

/* Imagem do álbum */
.album .imagem img {
    width: 100%;
    height: auto;
    border-radius: 10px;
    object-fit: cover;
    box-shadow: 0 3px 8px rgba(0,0,0,0.2);
    justify-self: center;
}

/* Informações do álbum */
.album .infos {
    display: flex;
    flex-direction: column;
    justify-content: center;
}

.album .infos h1 {
    font-size: 2rem;
    color: #ffffff;
    margin-bottom: 10px;
}

.album .infos .subtitle {
    font-style: italic;
    color: #c4c4c4;
    margin-bottom: 15px;
}

.album .infos .text {
    color: #ffffff;
    line-height: 1.6;
}

.album h2 {
    margin: 0;
    grid-column: 1 / -1; /* ocupa toda a largura do grid */
    color: #ffffff;
    background-color: #2b2828;
    padding: 3px 20px;
}

/* Lista de faixas */
.album .btn {
    grid-column: 1 / -1; /* ocupa toda a largura do grid */
    color: #ffffff;
    background-color: var(--album1-sec);
    border: none;
    padding: 10px 15px;
    border-radius: 5px;
    font-size: 1rem;
    transition: 0.5s ease;
    font-family: 'inter', sans-serif;
}

.btn i {
    opacity: 0;
    transition: 0.3s ease;
    transform: translateX(-5px);
}

.album .btn:hover {
    font-size: 1.05rem;
    letter-spacing: 1px;
    cursor: pointer;
}

.album .btn:hover i {
    opacity: 1;
    transform: translateX(5px);
}

.album .btn.aberta i {
    transform: rotate(90deg);
    opacity: 1;
}

.album .btn.aberta:hover i {
    opacity: 1;
    transform: translateX(5px);
    transform: rotate(90deg);
}

.album .faixas {
    max-height: 0;
    overflow: hidden;
    opacity: 0;
    transition: max-height 0.5s ease, opacity 0.5s ease;
    grid-column: 1 / -1; /* ocupa toda a largura do grid */
    background-color: #e0e0e0;
    margin: 0;     
    padding: 0;                                                         
    border-radius: 15px;
    transition: all 0.3s ease-out;
}

.album .faixas.aberta {
    max-height: 1000px; 
    opacity: 1;
}

.album li {
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 100%;
    padding: 0 15px;
    box-shadow: 0 4px 10px rgba(0,0,0,0.1);
    font-size: 1.1rem;
    transition: 0.3s;
}

.album li .faixa {
    width: 40%;
}

.album li .duracao {
    text-align: right;
    width: 20%;
}

.album li a {
    display: none;
    position: relative;
    color: #555555;
    transition: 0.3s;
}

.album li a i {
    color: red;
}

.album li > i {
    display: none
}

.album li:hover {
    transform: scale(1.01);
    background-color: #f7f3f3;
    border-radius: 15px;
}

.album li:hover a {
    display: inline;
} 

.album li:hover a:hover {
    opacity: 0.7;
} 

.album li:hover a:hover::after {
    width: 100%;
    background-color: #f73a43;
} 

.album .faixas a::after {
    content: "";
    position: absolute;
    left: 0;
    bottom: -2px;
    width: 0%;
    height: 2px;
    background: black;
    transition: width 0.3s ease-out;
}

.album2 {
    background-color: var(--album2);
}

.album2 .btn {
    background-color: var(--album2-sec);
}

.album3 {
    background-color: var(--album3);
}

.albm3 .btn {
    background-color: var(--album3-sec);
}

.album4 {
    background-color: var(--album4);
}

.album4 .btn {
    background-color: var(--album4-sec);
}

.album5 {
    background-color: var(--album5);
}

.album5 .btn {
    background-color: var(--album5-sec);
}

.album5 .infos .subtitle {
    color: #B4E0FF;
}

.album6 {
    background-color: var(--album6);
}

.album6 .btn {
    background-color: var(--album6-sec);
}

.album7 {
    background-color: var(--album7);
}

.album7 .btn {
    background-color: var(--album7-sec);
}

.album8 {
    background-color: var(--album8);
}

.album8 .btn {
    background-color: var(--album8-sec);
}

.album8 .infos .subtitle {
    color: #FAEC1B;
}

.album9 {
    background-color: var(--album9);
}

.album9 .btn {
    background-color: var(--album9-sec);
}
.album9 {
    background-color: var(--album9);
}

.album9 .btn {
    background-color: var(--album9-sec);
}

.album10 {
    background-color: var(--album10);
}

.album10 .btn {
    background-color: var(--album10-sec);
}

.album10 .infos .subtitle {
    color: #647A86;
}

.album11 {
    background-color: var(--album11);
}

.album11 .btn {
    background-color: var(--album11-sec);
}

.album11 .infos .subtitle {
    color: #5A0125;
}

.album12 {
    background-color: var(--album12);
}

.album12 .btn {
    background-color: var(--album12-sec);
}

.album12 .infos .subtitle {
    color: #A88049;
}

.album13 {
    background-color: var(--album13);
}

.album13 .btn {
    background-color: var(--album13-sec);
}

.album14 {
    background-color: var(--album14);
}

.album14 .btn {
    background-color: var(--album14-sec);
}


/* Músicas */


.musica {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;

    background-color: var(--album1-sec);
    border-radius: 15px;
    margin: 20px 200px;
    padding: 30px;
}

.player {
    display: flex;
    justify-content: space-between;
    align-items: center;
    
    padding: 50px;
    background-color: #555555;
    border-radius: 15px;
    width: 80%;
}

.player img {
    max-width: 40%;
    border-radius: 10px;

}

.musica .infos {
    display: flex;
    gap: 10px;
    
    width: 80%;
    margin-top: 10px;
}

.musica .infos .letra {
    width: 50%;
    border-radius: 15px;
    background-color: #555555;
    padding: 30px;
}

.musica .infos .sign {
    width: 50%;
    border-radius: 15px;
    background-color: #555555;
    padding: 30px;
    text-indent: 20px;
}




/*   -   Responsividade   -   */


@media (max-width: 900px) {

    /* HOME */

    li { display: none; }

    nav { padding: 20px; }

    #logo {
        font-size: 25px;
        margin: auto auto auto 1%;
    }

    #menu {
        display: inline-block;
        margin: auto 10px;
        padding: 10px;
        transition: transform 0.3s ease;
    }

    #menu:hover {
        cursor: pointer;
        transform: scale(1.1);
    }

    .imgs {
        padding: 5px;
        flex-direction: column;
        text-align: center;
    }

    .box {
        margin: 20px 5%;
    }

    #titulo-djavan {
        width: 80%;
    }

    #foto-destacada {
        width: 90%;
        margin-top: 20px;
    }

    .texto {
        padding: 20px 30px;
    }

    .pai {
        margin: 5px 5%;
    }

    .filho {
        flex-direction: column;
        width: auto;
        margin: 5px 5%;
    }

    .filho img {
        width: 70%;
    }

    .filho > p {
        width: 100%;
        font-size: 0.9rem;
        margin-top: 15px;
        padding: 15px;
    }

    .filho .passar {
        width: auto;
        margin: 10px 0 0 0;
        gap: 5px;
    }

    .passar span {
        display: none;
    }

    .aprofundando h2 {
        font-size: 1.5rem;
        padding: 10% 5% 5%;
    }

    .slider {
        position: unset;
    }

    .space {
        height: 0;
    }

    .content-bio {
        display: block;
        height: auto;
        position: relative;
        flex-direction: column;
        align-items: center;
        gap: 50px;
    }

    .content-bio img {
        width: 100%;
        margin-bottom: 20px;
    }

    .biografia {
        height: auto;
    }

    .info-bio {
        width: 100%;
        text-align: center;
        padding: 10px;
    }

    .info-bio h3 {
        color: var(--cor1);
        position: absolute;
        top: 20px;
        left: 20px;
        font-size: 1.5rem;
    }

    .bio-bnt {
        display: flex;
        writing-mode: horizontal-tb;
        width: 100%;
        height: 10vh;
        justify-content: center;
        align-items: center;
    }

    .shows {
        margin-top: 45%;
    }
    
    .shows a {
        padding: 10px 20% 10px 15px;
    }

    .shows img {
        width: 100%;
    }

    /* DISCOGRAFIA */

    .album {
        grid-template-columns: 1fr;
        text-align: center;
    }

    .album .infos {
        align-items: center;
    }

    .album .faixas {
        text-align: left;
    }
}